ul{
    list-style-type: none;
    line-height: 30px;
    padding: 0 20px;
    margin: 0;
}
li{
    display: inline;
}

li a{
    display: inline-block;
}
.left {
    float: left;
}
.right {
    float: right;
}