ul{
    list-style-type: none;
    line-height: 30px;
    padding: 0 20px;
    margin: 0;
}
li{
    display: inline;
    text-decoration: none;
    color: #555;
    padding: 0 9px;
}

li a{
    display: inline-block;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.top-bar{
    font-size: 13px;
}
.left {
    float: left;
}
.right {
    float: right;
}

.center{
    margin: 0 auto;
    display: block;
    text-align: center;
}
img {
    padding: 15px;
}